.note-page {
  height: 100%;
  margin-top: 50px;
}

.note-page__container {
  height: 100%;
  position: relative;
  border-left: 1px solid white;
  border-right: 1px solid white;
  max-width: 600px;

  @media (max-width: 600px) {
    & {
      border: none;
    }
  }
}

.note-page-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

[class*="note-page-header__floor"] {
  display: flex;
  align-items: center;
  gap: 5px;
}

.note-page-header__floor-1 {
  gap: 20px;
  justify-content: space-between;
}

.note-page-header__floor-2 {
  gap: 10px;
  @media (max-width: 420px) {
    & {
      align-items: flex-start;
      flex-direction: column;
    }
  }
}

.note-page__title {
  width: 100%;
  max-width: 400px;
  font-size: 25px;
  color: white;
  background: transparent;
}

.note-page__date {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.614);
}

.note-page__category {
  font-size: 14px;
}

.note-page-categories {
  width: 250px;
}

.note-page-categories__items {
}

.note-page-categories__item {
  &.active {
    &::before {
      width: 9px;
      height: 9px;
    }
  }
}

.note-page__confirm {
  width: 20px;
  line-height: 0;
  &:disabled {
    filter: brightness(30%);
  }
}

.note-page__confirm-img {
  max-width: 20px;
}

.note-page__body {
  margin-top: 20px;
  font-size: 20px;
  color: white;
  background: transparent;
  width: 100%;
  resize: none;
  overflow: hidden;
  min-height: 50px;
}

.note-page__controlls {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  background-color: #2e2a2a;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
