.password-eye {
  position: relative;
}

.password-eye__eye {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
  line-height: 0;
}

.password-eye__img {
  max-width: 30px;
  filter: invert(100%);
  opacity: 0.3;
  transition: ease 0.7s;
  &.active {
    opacity: 1;
  }
}
