.header {
  background-color: black;
}
.header__container {
  min-height: 80px;
  display: flex;
  align-items: center;
}
.nav {
  margin: 0 auto;
}
.nav-list {
}
.nav-list__item {
}
.nav-list__link {
  margin-left: auto;
}

