@import "https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic";

body {
  font-family: var(--main-font);
  color: white;
  font-size: 18px;
  background-color: #212121;
}

h1 {
  font-size: 45px;
  font-weight: 700;
}

[class*="__container"] {
  padding: 0px 20px;
  margin: 0 auto;
}
