.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth__container {
  width: 100%;
  max-width: 1000px;
}

.auth__title {
  text-align: center;
  margin: 0 auto;
}

.auth-form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.auth-form__input {
  width: 100%;
}

.auth__error {
  color: red;
  &--center {
    margin: 0 auto;
  }
}

.auth-form__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth-form__button {
  width: 100%;
  max-width: 250px;
}
